h1 {
    text-align: center;
    font: 40px 'Segoe UI';
    color: white;
    margin-top: 3rem;
}

body {
    font-family: 'Segoe UI';
    font-size: 15px;
    background: -webkit-linear-gradient(to right, #508962, #306a4a);
    background: linear-gradient(to right, #508962, #306a4a);
}   

.textArea {
    width: 150px;
    height: 50px;
    resize: none;
    text-align: center;
    padding-top: 15px;
    background-color: #306a4a;
    border-radius: 5px;
    font: 25px 'Segoe UI';
    color: white;
}

.container {
    text-align: center;
    margin-top: 50px;
    display: block;
}

.holeButton {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font: 15px 'Segoe UI';
    color: #306a4a;
}

.holeButton:hover {
    opacity: 0.8;
    cursor: pointer;
}

.pinged {
    background-color: rgb(178, 25, 25);
    box-shadow: 0 0 20px 5px #ec3131;
    color: white;
}
